[fetch]
    prune  = true
[credential]
    helper = store
[user]
    email  = email@caspian.computer
    name   = Caspian Baska
    signingkey = 785F1433
[alias]
    a        = add
    aamd     = commit --amend -a
    amd      = commit --amend
    b        = branch
    bv       = branch -v
    cam      = commit -am
    cm       = commit -m
    co       = checkout
    cob      = checkout -b
    d        = diff
    dc       = diff --cached
    dh       = diff HEAD
    h        = hist
    hist     = log --graph --date-order --date=short --pretty=format:'%C(auto)%h%d %C(reset)%s %C(bold blue)%ce %C(reset)%C(green)%cr (%cd)'
    log      = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
    pl       = pull
    ps       = push
    r        = rebase
    rc       = rebase --continue
    freebase = rebase
    s        = status -sb
    shit     = hist
    thanks   = blame
    tug      = pull
[color "diff"]
    meta   = 15
    commit = 83
    frag   = 4
    old    = 160
    new    = 83
    whitespace = 160 reverse
[core]
    excludesFile = ~/.gitignore

; [url "git@github.com:"]
;     insteadOf = https://github.com/

[init]
    defaultBranch = main
[pull]
    rebase = false
[advice]
    addIgnoredFile = false
[gpg]
    program = /usr/local/bin/gpg
[commit]
    gpgsign = true
[merge]
	conflictstyle = diff3
[push]
	autoSetupRemote = true
